body {
    background-color: #0a4049;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #25c1c7;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}